@import '../../styles/base';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    &__banner {
        background-image: url("../../assets/Fundo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 1000px;
        display: flex;
        justify-content: flex-end;
        position: relative;

    }

    .container__image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 285px;

        .trash {
            animation: spinneElement 5s linear infinite;
            animation-duration: 17000ms;

            height: 300px;
        }

        .planet {
            position: absolute;
        }
    }

    @keyframes spinneElement {
        100% {
            transform: rotate(360deg);
        }
    }

    .container__dialogue {
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: 1rem;

        .robo {
            transform: translateY(-130px);
            animation: textchange 2000ms ease-in-out;
        }

        .container__text {
            width: 50%;
            height: 100px;
            transform: translateY(-130px);
            margin-left: 50px;
            border: 10px solid #FFF;

            p {
                padding-left: 1rem;
                color: $green;
                font-family: $font-title;
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 24px;
                animation: textchange 2000ms ease-in-out;
                
            }

            @keyframes textchange {
                0% {
                    opacity: 0%;
                }

                100% {
                    opacity: 100%;
                }
            }

            .next {
                width: 50px;
                height: 50px;
                cursor: pointer;
                transform: translateX(20px);
                margin-top: 10px;
                position: absolute;
                right: 0px;
                animation: nextBtn 700ms alternate infinite;

            }

            @keyframes nextBtn {
                0% {
                    transform: translateX(-10px);
                }

                100% {
                    transform:  translateX(10px);
                }
            }
        }


    }

}