@import '../../styles/base';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    &__banner {
        background-image: url("../../assets/Fundo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 1000px;
        background-color: red;
        display: flex;
        justify-content: flex-end;
       

    }

    .trash {
        animation: spinneElement;
        animation-duration: 3000ms;
        animation-iteration-count: infinite;
        // background-color: red;
        height: 300px;
    }   

    .planet{
        position: absolute;
    }

    @keyframes spinneElement {
        // 25% {
        //     transform: rotate(180deg);
        // }
        50% {
            transform: rotate(180deg);
        }
        // 75% {
        //     transform: rotate(180deg);
        // }

        100% {
            transform: rotate(180deg);
        }
    }

}