@import '../../styles/base';

.container {
    margin: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%rem;

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        background-image: url("../../assets/Fundo.svg");

        p {
            color: #F92727;
            font-family: $font-title;
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}