//Tamamho de telas
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inconsolata & display=swap');

$font-title: 'Press Start 2P', sans-serif;
$font-text: 'Inconsolata', monospace;


$green: #17F956;
$white: #fdfdfd;
$red: #F92727;


// Cores do tema escuro da aplicação

$dark-color: #1E1E2E;             
$dark-contrast: #313244;
$purple-contrast: #CBA6F7;

// Ajuste de telas

$breakin-point-desktop: 1024px;
$breakin-point-tablet: 768px;
$breakin-point-smartphone: 375px;
$breakin-point-mini-smartphone: 320px;        

//Tamanho da fonte





